### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/checkpoints
/pretrained_model
/antcritic
/*.log
__pycache__
*.tar.gz

# Ant Group internal deployment & usage code which we will not publish
/services
LEGAL.md
init.sh
exp_run.sh
services.sh
show_result.py
test_service.py
/match_topic

